body {
	font-size: 65%;	
}
#map {
    width: 700px;
    height: 500px;
    float: left;
    border: 1px solid black;
	margin-right: 10px;
}
#logo {
	margin-bottom: 10px	
}

label {
    display: inline-block;
    width: 100px;
}

input, select {
    width: 180px;
}

input[type=radio] {
    width: 30px;
}

div.ui-widget {
	padding: 3px;
}
#search {
	display:inline-block;
	width: 290px;
	margin-top: 10px	
}