
#map {
    width: 500px;
    height: 500px;
    float: left;
    border: 1px solid black;
}

label {
    display: inline-block;
    width: 200px;
}

input, select {
    width: 200px;
}

input[type=radio] {
    width: 50px;
}